.card  {
  // background-color: #f5f5f5
  // background: radial-gradient(circle, red, blue), radial-gradient(ellipse, yellow, green)
  background: radial-gradient(circle at bottom,#2c3447, white );
  border-radius: 25px;
  box-shadow: 10px;
  animation: fadeIn 1s;
}

